<div class="container">
<h1> 
  <%= @user.get_name %></h1>

<p>
<i>
  – <%= @user.get_profile_field(:job_title) %>
  at
  <%= @user.get_profile_field(:employer) %>
  </i>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.get_profile_field(:city) %>, 
  <%= @user.get_profile_field(:state) %>
</p>

<p>
  <strong>Why I want a mentor:</strong>
  <%= @user.get_profile_field(:why_i_want_a_mentor) %>
</p>
</div>