
<div class="container">
<h1 class="row">Available Mentors</h1>
<div class="row">
  <div class="col-3 side-filter">
  
    <form action="<%= mentors_path %>" method="GET">
      <h5>Filter Mentors by Skill(s)</h5>

      <% @skills.each do |skill| %>
        <input id="filter_skill_<%= skill[1] %>" name="filter[skills][]" type="checkbox" value="<%= skill[1] %>" />
        <label for="filter_skill_<%= skill[1] %>"><%= skill[0] %></label><br />
      <% end %>
      <h5>Filter Mentors by Belief(s)</h5>

      <% @beliefs.each do |belief| %>
        <input id="filter_belief_<%= belief[1] %>" name="filter[beliefs][]" type="checkbox" value="<%= belief[1] %>" />
        <label for="filter_belief_<%= belief[1] %>"><%= belief[0] %></label><br />
      <% end %>
      <input type="submit" value="Filter Mentors" class="btn btn-primary" />
      <%= link_to "Reset Filter", mentors_path, class: "btn btn-secondary" %>
    </form>
  
  </div>
 
  <div class="card-columns col-9 align-items-top">
    <% @mentors.each do |mentor| %>
        <% if mentor.accept_mentee? %>
          <div class="card text-center">

            <div class="row align-items-center justify">
              <%= image_tag mentor.picture, class:"rounded-circle", width: 70, height: 70 if mentor.picture.attached?  %>
              <div class="col-9">
                  <h3 class="card-title align-items-center"><strong><%= mentor.user.get_name %></strong></h3>
              </div>
            </div>

            <p class= "card-text"><i><%= mentor.user.get_profile_field(:job_title) %></i></p>
            <p class= "card-text"><%= mentor.bio.truncate(40)%></p>
            <p>
              <a href="<%= mentor.linkedIn %>" class="px-2 fa-lg" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="<%= mentor.website %>" class="px-2 fa-lg" target="_blank"><i class="fas fa-laptop-code"></i></a>
            </p>
            <%= link_to 'See more', mentor, class:"btn btn-primary" %>   
          </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>

