<% flash.each do |key, value| %>
  <div>
    <%= value %>
  </div>
<% end %>

<% if current_user %>
<ul>
  <li><%= link_to 'Mentor chat', conversations_path %></li>
  <li><%= link_to 'View all Mentors', mentors_path %></li>
  <li><%= link_to 'Mentor profile page', mentor_path(current_user.mentor) %></li>
  <li><%= link_to 'Users list', users_path %></li>
</ul>

<% end %>
