
<div class="col bg-primary ">
  <div class="row topnav"> 
  
    <div class="col-3 search_bar">
      <%= form_tag(search_page_path, :method => "get",   
        class: 'navbar-form navbar-left') do %>  
      <div class="input-group">  
        <%= search_field_tag :search, params[:search], placeholder: "Search by name", class: "form-control" %>  
          <div class="input-group-btn">
            
            <%= button_tag "",  :class => 'btn btn-primary fas fa-search',:name => nil%>  
          </div>  
      </div>  
      <% end %>
    </div>
    
    <div class="col text-right nav_btn">    
      <p class="nav-item">  
      <% if user_signed_in? %>
            <%= current_user.username %>
            |
            <% if current_user.profile %>
              <%= link_to 'Edit user profile', edit_profile_path(current_user.profile), class:"btn btn-primary" %>
            <% else %>
              <%= link_to 'Create user profile', new_profile_path, class:"btn btn-primary" %>
            <% end %>
            |
            <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class:"btn btn-primary"%>
      <% else %>
            <%= link_to 'Login', new_user_session_path, class:"btn btn-primary" %>
          |
            <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-primary"  %>
      <% end %>
          |
        <%= link_to 'Home', root_path, class:"btn btn-primary"  %>
      </p>
    </div>

  </div>
</div>
  

 
    
        

 
