<div class="col bg-primary ">
  <div class="row topnav"> 
  
    <div class="col-4 search_bar">
      <%= form_tag(root_path, :method => "get",   
          class: 'navbar-form navbar-left') do %>  
        <div class="input-group">  
          <%= search_field_tag :search, params[:search], placeholder: "🔎 Search mentor by name ", class: "form-control" %>  
          <div class="input-group-btn btn btn-primary">  
              <%= button_tag "search",:name => nil%>  
          </div>  
        </div>  
        <% end %>
    </div>
    
    <div class="col text-right nav_btn">    
      <p class="nav-item">  
      <% if user_signed_in? %>
            <%= current_user.username %>
            |
            <%= link_to 'Logout', destroy_user_session_path, method: 'delete',  class:"btn btn-primary"%>
      <% else %>
            <%= link_to 'Login', new_user_session_path, class:"btn btn-primary" %>
          |
            <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-primary"  %>
      <% end %>
          |
        <%= link_to 'Home', root_path, class:"btn btn-primary"  %>
      </p>
    </div>

  </div>
</div>
  

 
    
        

 
