<div class="jumbotron jumbotron-billboard bg-dark">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-4">Mentor Market</h1>
                <div class= "row space-evenly">
                    <% if current_user %>
                            <%= link_to 'Find a Mentor', mentors_path, class:'btn btn-lg btn-primary col-5' %>
                            <div class="col-2"></div>
                        
                            <% if current_user.mentor %>
                                <%= link_to 'My Mentor Profile', mentor_path(current_user.mentor), class:'btn btn-lg btn-primary col-5'  %>
                            <% else %>
                                <%= link_to 'Become a Mentor', new_mentor_path, class:'btn btn-primary btn-lg col-5' %>
                            <% end %>
                    <% else %>
                            <%= link_to 'Find a Mentor', mentors_path, class:'btn btn-primary btn-lg col-5' %>
                            <div class="col-2"></div>
                            <%= link_to 'Become a Mentor', new_mentor_path, class:'btn btn-primary btn-lg col-5' %>
                        
                    <% end %>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <p class="lead">Mentorship is a mutual symbiotic relationship where an experienced person helps a mentee set important life goals and develop the skills to reach them. Informal mentoring can range from reviewing a resume or goals to a more formal mentoring program that ties real life work, culture and stretch goals to a strategic plan initiative for career planning and professional development.</p>
        <br/>
        <p>Mentor Market connects IT professionals with anyone wanting to improve their skills in the field. Search for your mentor here or sign up to be a mentor to provide guidance to empower and diversify the entire profession</p>
    </div>
</div>