<p id="notice"><%= notice %></p>

<h1>Mentors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Linkedin</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentors.each do |mentor| %>
      <% if mentor.accept_mentee? %>
        <tr>
          <td><%= mentor.user.get_name %></td>
          <td><%= mentor.bio %></td>
          <td><%= mentor.linkedIn %></td>
          <td><%= mentor.website %></td>
          <td><%= link_to 'See more', mentor %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

