
<h1> 
  <%= @mentor.user.get_name %></h1>
<p>
  <%= image_tag @mentor.picture, class: 'rounded float-right', width: 300 if @mentor.picture.attached? %>
</p>

<p>
<i>
  – <%= @mentor.user.get_profile_field(:job_title) %>
  at
  <%= @mentor.user.get_profile_field(:employer) %>
  </i>
</p>

<p>
  <strong>Location:</strong>
  <%= @mentor.user.get_profile_field(:city) %>, 
  <%= @mentor.user.get_profile_field(:state) %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @mentor.bio %>
</p>

<p>
  <strong>Accept mentee:</strong>
  <%= @mentor.accept_mentee %>
</p>

<p><strong> Skills:</strong>
 <%if @skills%>
   <%@skills.each do |skill|%>
     <div>
       <p><%= skill.get_friendly_name %></p>
     </div>
   <%end%>
 <%end%>
 </p>

<p>
  <a href="<%= @mentor.linkedIn %>" target="_blank">LinkedIn</a> | <a href="<%= @mentor.website %>" target="_blank">Website</a>
</p>
<% if current_user %>
  <% if current_user.mentor == @mentor  %>
    <%= link_to 'Edit mentor profile fields', edit_mentor_path(@mentor), class:'btn btn-primary'  %>
    <%= link_to 'Edit user profile fields', edit_profile_path(@mentor), class:'btn btn-primary'  %>
    <%= link_to 'Delete mentor profile', @mentor, method: :delete, data: { confirm: 'Are you sure you want to delete mentor profile?' }, class:'btn btn-primary' %>
  <% else %>
    <%= link_to 'Request mentor match', new_personal_message_path(receiver_id: @mentor.user), class:'btn btn-primary'%>
  <% end %>
<% else %>
  <%= link_to 'Login to request mentor', new_user_session_path, class:'btn btn-primary'%>
<% end %>
<%= link_to 'Back', mentors_path, class:'btn btn-primary' %>