<div class="container">
  <div class="float-right">
    <%= image_tag @mentor.picture, class: 'profile-image', height:300 if @mentor.picture.attached? %>
  </div>

  <h1><%= @mentor.user.get_name %></h1>
<p>
<i>
  – <%= @mentor.user.get_profile_field(:job_title) %>
  at
  <%= @mentor.user.get_profile_field(:employer) %>
  </i>
</p>

<p>
  <strong>Location:</strong>
  <%= @mentor.user.get_profile_field(:city) %>, 
  <%= @mentor.user.get_profile_field(:state) %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @mentor.bio %>
</p>

<p>
  <strong>Accept mentee:</strong>
  <%= @mentor.accept_mentee %>
</p>

<div class="col-4">
  <strong> Skills:</strong>
  <%if @skills%>
    <%@skills.each do |skill|%>
      <% next unless skill.get_friendly_name %>
      <ul>
        <li><%= skill.get_friendly_name %></li>
      </ul>
    <%end%>
  <%end%>
 </div>

 <div class="col-4">
 <p><strong> Beliefs:</strong></p>
 <%if @beliefs%>
   <%@beliefs.each do |belief|%>
   <% next unless belief.get_friendly_name %>
     <ul>
       <li><%= belief.get_friendly_name %></li>
     </ul>
   <%end%>
 <%end%>
 </div>


<p>
  <a href="<%= @mentor.linkedIn %>" target="_blank">LinkedIn</a> | <a href="<%= @mentor.website %>" target="_blank">Website</a>
</p>
<% if current_user %>
  <% if current_user.mentor == @mentor  %>
    <%= link_to 'Edit mentor profile fields', edit_mentor_path(@mentor), class:'btn btn-primary'  %>
    <%= link_to 'Edit user profile fields', edit_profile_path(current_user), class:'btn btn-primary'  %>
    <%= link_to 'Delete mentor profile', @mentor, method: :delete, data: { confirm: 'Are you sure you want to delete mentor profile?' }, class:'btn btn-danger' %>
  <% elsif current_user.mentor_users.include?(@mentor.user) %>
    <%= link_to 'Chat', new_personal_message_path(receiver_id: @mentor.user), class:'btn btn-primary'%>
  <% else %>
      <%= link_to 'Request mentor match', mentorships_path(:mentor_user_id => @mentor.user), :method => :post, class:'btn btn-primary' %>
  <% end %>
<% else %>
  <%= link_to 'Login to request mentor', new_user_session_path, class:'btn btn-primary'%>
<% end %>
</div>
</div>
</div>