<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <h4>Mentorship Requests</h4>

      <% for menteeship in current_user.menteeships %>
        <% if !menteeship.accepted %>
          <div class="user">
              <%= render 'users/user_link', user: menteeship.user %>
              <%= simple_form_for(menteeship) do |f| %>
                  <%= f.hidden_field :accepted, value: true %>
                  <%= f.submit "Accept", class:'btn btn-success' %>     
              <% end %>
              <%= link_to 'Decline', menteeship, method: :delete, data: { confirm: 'Are you sure you want to decline this mentorship request?' }, class:'btn btn-danger' %>

              <div class="clear"></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-4">
      <h4>Mentees</h4>

      <% for menteeship in current_user.menteeships %>
        <% if menteeship.accepted %>
          <div class="user row">
            <div class="col-lg">
              <%= render 'users/user_link', user: menteeship.user %>
              <% if Conversation.between(menteeship.user, current_user).first %>
                <div id="conversation-body">
                  <%= render 'conversations/conversation', conversation: Conversation.between(menteeship.user, current_user).first %>
                </div>
              <% end %>
              </div>
              <div class="col-sm">
                <%= link_to 'Chat', new_personal_message_path(receiver_id: menteeship.user), class:'btn btn-primary' %>
              </div>
          </div>
          <hr>
        <% end %>
      <% end %>
    </div>

    <div class="col-lg-4 col-sm-4">
      <h4>Mentors</h4>

      <% for mentorship in current_user.mentorships %>
        <div class="user row">
          <div class="col-lg">
              <%= render 'users/user_link', user: mentorship.mentor_user %>
            <% if !mentorship.accepted %>
              (pending)
            <% end %>
            <% if Conversation.between(mentorship.mentor_user, current_user).first.present? %>
              <div id="conversation-body">
                  <%= render 'conversations/conversation', conversation: Conversation.between(mentorship.mentor_user, current_user).first %>
              </div>
              <% end %>
          </div>
          <% if mentorship.accepted %>
            <div class="col-sm">
              <%= link_to 'Chat', new_personal_message_path(receiver_id: mentorship.mentor_user), class:'btn btn-primary'%>
            </div>
          <% end %>
        </div>
        <hr>
        <% end %>
    </div>
  </div>
</div>